* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f0f0f0;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  width: 100%; }

main {
  margin: top 50%;
  margin-bottom: 10%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 3rem; }

.Titles {
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  padding: 20px;
  background-color: #59b659;
  border: #ebebeb;
  border-radius: 1rem;
  color: white; }

.modal-header {
  background-color: #59b659;
  color: white; }

.modal-body {
  background-color: #00608d;
  color: white; }

.buttonModal {
  background-color: #59b659;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.5s ease; }

.buttonModal:hover {
  cursor: pointer;
  color: #027db6;
  background: white; }

header {
  position: relative;
  background-color: #00608d;
  color: white;
  padding: 0rem;
  font-size: 16pt;
  /*display: flex;
  justify-content: space-evenly;
  align-items: center;*/
  height: 90%;
  width: 100%; }

footer {
  background-color: #00608d;
  color: white;
  text-align: center;
  position: inherit;
  width: 100%; }

/*Home Page*/
.nav-link:hover {
  cursor: pointer;
  background: #005582;
  color: white;
  border-radius: 1rem; }

/*Section 1*/
.HomeSection {
  border: 5px solid #ebebeb;
  padding: 50px;
  background-color: lightgray;
  color: #00608d;
  border-radius: 1.5rem;
  transition: all 0.5s ease-in; }

.HomeSection:hover {
  cursor: pointer;
  color: lightgray;
  background-color: #00608d;
  transform: scale(1);
  font-weight: bold; }

.button {
  background-color: #027db6;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.5s ease; }

.button:hover {
  cursor: pointer;
  color: #00608d;
  background: lightgray; }

/*Formulario de Contacto*/
button {
  background-color: #00608d;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.5s ease; }

button:hover {
  cursor: pointer;
  color: #027db6;
  background: white; }

/*Fin del Home Page*/
/*Nosotros*/
.NosotrosSection {
  text-align: justify;
  padding: 80px;
  word-spacing: normal;
  line-height: 25px;
  background: white;
  border: 5px solid #ebebeb;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  color: #00608d; }

.NosotrosSection:hover {
  cursor: initial;
  background: #e6e6e6;
  color: black; }

.sidebar {
  padding: 20px;
  border: none;
  grid-column: span 1;
  background: white;
  border: 5px solid #ebebeb;
  border-radius: 1rem;
  line-height: 50px;
  margin-bottom: auto;
  margin-right: auto;
  margin-top: 8%;
  transition: all 0.5s ease;
  color: #00608d; }

.sidebar:hover {
  cursor: initial;
  background: #e6e6e6;
  color: black; }

/*Fin de Nosotros*/
/*servicios*/
.servicesContent {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  background: white;
  border: 5px solid #ebebeb;
  border-radius: 1rem;
  padding: 80px;
  transition: all 0.5s ease;
  color: #00608d; }
  .servicesContent__Text {
    text-align: justify;
    font-size: 1rem;
    padding: 5px;
    word-spacing: 0.2rem;
    letter-spacing: normal; }
  .servicesContent__List {
    list-style-type: none;
    text-indent: 2rem;
    padding-bottom: 5px;
    font-size: 1rem;
    text-align: justify; }

.servicesContent:hover {
  cursor: initial;
  background: #e6e6e6;
  color: black; }

.ServicesSection {
  border: 5px solid #ebebeb;
  padding: 50px;
  background-color: lightgray;
  color: #00608d;
  border-radius: 1.5rem;
  transition: all 0.5s ease-in; }

.ServicesSection:hover {
  cursor: pointer;
  color: lightgray;
  background-color: #00608d;
  transform: scale(1);
  font-weight: bold; }

.button {
  background-color: #027db6;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.5s ease; }

.button:hover {
  cursor: pointer;
  color: #00608d;
  background: lightgray; }

/*Fin de Servicios*/
/*Quimioterapia e Inmunoterapia */
.contentQuimio {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 80px;
  border: 5px solid #ebebeb;
  border-radius: 1rem;
  gap: 10px;
  word-spacing: normal;
  transition: all 0.5s ease;
  color: #00608d; }
  .contentQuimio__Subtitles {
    font-size: 1.5rem;
    text-align: left;
    font-style: normal; }
  .contentQuimio__Text {
    text-align: justify;
    font-size: 1rem;
    padding: 5px;
    word-spacing: 0.2rem;
    letter-spacing: normal; }

.contentQuimio:hover {
  cursor: initial;
  background: #e6e6e6;
  color: black; }

/*Fin de Quimioterapia e Inmunoterapia */
/*Tratamientos*/
.contentTreatment {
  display: flex;
  flex-direction: column;
  background: white;
  border: 5px solid #ebebeb;
  border-radius: 1rem;
  padding: 80px;
  word-spacing: normal;
  gap: 10px;
  transition: all 0.5s ease;
  color: #00608d; }
  .contentTreatment__Subtitles {
    font-size: 1.5rem;
    text-align: left;
    font-style: normal; }
  .contentTreatment__Text {
    text-align: justify;
    font-size: 1rem;
    padding: 5px;
    word-spacing: 0.2rem;
    letter-spacing: normal; }

.contentTreatment:hover {
  cursor: initial;
  background: #e6e6e6;
  color: black; }

/*Fin de Tratamientos*/
/*Familia del Paciente Oncologico*/
.contentPaciente {
  display: flex;
  flex-direction: column;
  color: #00608d;
  background: white;
  border: 5px solid #ebebeb;
  border-radius: 1rem;
  padding: 80px;
  word-spacing: normal;
  transition: all 0.5s ease; }
  .contentPaciente__Subtitles {
    font-size: 1.5rem;
    text-align: left;
    font-style: normal; }
  .contentPaciente__Text {
    text-align: justify;
    font-size: 1rem;
    padding: 5px;
    word-spacing: 0.2rem;
    letter-spacing: normal; }
  .contentPaciente__List {
    text-align: justify;
    font-size: 1.2rem;
    padding: 5px;
    list-style-type: decimal;
    font-size: 15px; }

.contentPaciente:hover {
  cursor: initial;
  background: #e6e6e6;
  color: black; }

/*Fin de Familia del Paciente Oncologico*/
/*Nuestras Sedes*/
.contentSedes {
  display: flex;
  flex-direction: column;
  background: white;
  border: 5px solid #ebebeb;
  border-radius: 1rem;
  padding: 80px;
  word-spacing: normal;
  transition: all 0.5s ease;
  color: #00608d; }
  .contentSedes__Subtititles {
    font-size: 1.5rem;
    text-align: left;
    font-style: normal; }
  .contentSedes__Text {
    text-align: justify;
    font-size: 1rem;
    padding: 5px;
    word-spacing: 0.2rem;
    letter-spacing: normal; }
  .contentSedes__List {
    text-align: justify;
    font-size: 1.2rem;
    padding: 5px;
    font-size: 15px; }

.contentSedes:hover {
  cursor: initial;
  background: #e6e6e6;
  color: black; }

/*Fin de Nuestras Sedes*/
