* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 240, 240);
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  width: 100%;
}
main {
  margin: top 50%;
  margin-bottom: 10%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 3rem;
}
.Titles {
  font-size: 2rem;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  padding: 20px;
  background-color: $color-secundario;
  border: $color-bordes;
  border-radius: 1 * $root-size;
}
