* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 240, 240);
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  width: 100%;
}
main {
  margin: top 50%;
  margin-bottom: 10%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 3rem;
}
.Titles {
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  padding: 20px;
  background-color: rgb(89, 182, 89);
  border: $color-bordes;
  border-radius: 1 * $root-size;
  color: $color-secundario;
}

.modal-header {
  background-color: rgb(89, 182, 89);
  color: $color-secundario;
}
.modal-body {
  background-color: $color-primario;
  color: $color-secundario;
}
.buttonModal {
  background-color: rgb(89, 182, 89);
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.buttonModal:hover {
  cursor: pointer;
  color: rgb(2, 125, 182);
  background: white;
}
