* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
/* Header */

header {
  position: relative;
  background-color: rgb(0, 96, 141);
  color: white;
  padding: 0rem;
  font-size: 16pt;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 100%;
}
.Lineup {
  padding: 60px;
  font-size: 1.2rem;
  background-color: rgb(0, 96, 141);
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}

.Lineup:hover {
  cursor: pointer;
  background: rgb(0, 85, 130);
  color: white;
}
/* Body */

body {
  background-color: rgb(240, 240, 240);
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  width: 100%;
}

/* Main */

main {
  margin: top 50%;
  margin-bottom: 10%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 3rem;
}
.Section1 {
  font-size: 2rem;
  font-style: inherit;
  text-align: center;
}

.Section1--Titles {
  font-size: 2rem;
  text-align: center;
  font-style: normal;
  padding: 20px;
}
.Section1--Subtitles {
  font-size: 1.5rem;
  text-align: left;
  font-style: normal;
}

.List {
  list-style-type: none;
  text-indent: 2rem;
  padding-bottom: 5px;
  font-size: 1rem;
}

.Text {
  text-align: justify;
  font-size: 1rem;
  padding: 5px;
  word-spacing: 0.2rem;
  letter-spacing: normal;
}
/* Index */

.ContainerIndex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr;
  row-gap: 50px;
}

.Carrusel--Foto {
  display: flex;
  flex-direction: row;
  background: rgb(0, 96, 141);
  border: 5px solid rgb(235, 235, 235);
  height: 60vh;
  width: 135%;
  text-align: center;
  justify-content: flex-start;
  grid-column: span 3;
}

.Carrusel--Texto {
  padding: 10px;

  display: flex;
  flex-direction: row;
  grid-column: span 1;
  align-items: center;
  justify-content: left;
  color: whitesmoke;
}
span {
  font-weight: bolder;
}
.col {
  height: 300px;
  margin-top: 80px;
}
.contentIndex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-self: center;
  grid-row: span 1;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-weight: bold;
  padding: 60px;
  height: 235px;

  transition: all 0.5s ease-in;
  background-image: url(Fotos/Quimioterapia.jpg);
  filter: grayscale(1.5);
  background-size: cover;
}
.contentIndex2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-self: center;
  grid-row: span 1;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 60px;
  height: 235px;

  transition: all 0.5s ease-in;
  background-image: url(Fotos/treatment.jpg);
  filter: grayscale(1);
  background-size: cover;
}
.contentIndex3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-self: center;
  grid-row: span 1;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 60px;
  height: 235px;

  transition: all 0.5s ease-in;
  background-image: url(Fotos/Familia.jpg);
  filter: grayscale(1.5);
  background-size: cover;
}
.contentIndex4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-self: center;
  grid-row: span 1;
  font-size: 1.5rem;
  background: white;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 60px;
  height: 235px;

  transition: all 0.5s ease-in;
  background-image: url(Fotos/covid.jpeg);
  filter: grayscale(1.5);
  background-size: cover;
}
.contentIndex:hover {
  cursor: pointer;
  color: white;
  filter: none;
  transform: scale(1);
  font-weight: bold;
  text-decoration: none;
}
.contentIndex2:hover {
  cursor: pointer;
  color: white;
  filter: none;
  transform: scale(1);
  font-weight: bold;
  text-decoration: none;
}
.contentIndex3:hover {
  cursor: pointer;
  color: white;
  filter: none;
  transform: scale(1);
  font-weight: bold;
  text-decoration: none;
}
.contentIndex4:hover {
  cursor: pointer;
  color: white;
  filter: none;
  transform: scale(1);
  font-weight: bold;
  text-decoration: none;
}

/* Nosotros */

.NosotrosContainer {
  width: 100%;
  margin: 1.6em auto;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(6, 1fr);
}

.Content {
  padding: 20px;

  grid-column: span 5;
}

.sidebar {
  padding: 20px;
  border: none;
  grid-column: span 1;
  background: white;
  border: 5px solid rgb(240, 240, 240);
  line-height: 50px;
  margin-bottom: 275%;
  margin-right: auto;
  margin-top: 8%;
}
.NosotrosSection {
  text-align: justify;
  padding: 80px;
  word-spacing: normal;
  line-height: 25px;
  background: white;
  border: 5px solid rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}
.NosotrosSection:hover {
  cursor: initial;
  background: rgb(230, 230, 230);
}
.List__doctors {
  padding: 1rem;
  list-style: square;
  text-align: center;
  line-height: 25px;
}

/* Servicios */

.servicesContainer {
  width: 90%;
  margin-bottom: 20%;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(3, 1fr);
}

.servicesContent {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  background: white;
  border: 5px solid rgb(235, 235, 235);
  padding: 80px;
}

.services--subtitles {
  text-align: center;
  font-size: 1.1rem;
}

.section1 {
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-image: linear-gradient(to bottom, rgb(192, 192, 192), white);
  border: 5px solid rgb(235, 235, 235);
  padding: 60px;
  display: flex;
}

.section2 {
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-image: linear-gradient(to bottom, rgb(192, 192, 192), white);
  border: 5px solid rgb(235, 235, 235);
  padding: 60px;
  display: flex;
}

.section3 {
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-image: linear-gradient(to bottom, rgb(192, 192, 192), white);
  border: 5px solid rgb(235, 235, 235);
  padding: 60px;
  display: flex;
}

.listServices {
  list-style-type: none;
  text-align: left;
}
button {
  background-color: rgb(2, 125, 182);
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.button:hover {
  cursor: pointer;
  color: rgb(0, 96, 141);
  background: white;
}

/* Servicio Quimio e Inmuno*/

.containerQuimio {
  display: grid;
  padding: 60px;
  gap: 50px;
  width: 80%;
  margin-left: 6%;
}

.contentQuimio {
  display: flex;
  flex-direction: column;
  background: white;
  border: 5px solid rgb(235, 235, 235);
  padding: 80px;
  gap: 10px;
  word-spacing: normal;
  transition: all 0.5s ease;
}
.contentQuimio:hover {
  cursor: initial;
  background: rgb(230, 230, 230);
}

/* Servicio Tratamientos*/

.containerTreatment {
  display: grid;
  gap: 50px;
  padding: 60px;
  width: 80%;
  margin-left: 6%;
}
.contentTreatment {
  display: flex;
  flex-direction: column;
  background: white;
  border: 5px solid rgb(235, 235, 235);
  padding: 80px;
  word-spacing: normal;
  gap: 10px;
  transition: all 0.5s ease;
}

.contentTreatment:hover {
  cursor: initial;
  background: rgb(230, 230, 230);
}

/* Servicio Pcte Oncologico*/

.containerPaciente {
  display: grid;
  width: 80%;
  margin-left: 6%;
  gap: 50px;
}
.contentPaciente {
  display: flex;
  flex-direction: column;
  background: white;
  border: 5px solid rgb(235, 235, 235);
  padding: 80px;
  word-spacing: normal;
  transition: all 0.5s ease;
}
.contentPaciente:hover {
  cursor: initial;
  background: rgb(230, 230, 230);
}
.listaNeeds {
  text-align: justify;
  font-size: 1.2rem;
  padding: 5px;
  list-style-type: decimal;
  font-size: 15px;
}

/* Nuestras Sedes*/

.containerSedes {
  display: grid;
  width: 80%;
  margin-left: 6%;
  gap: 50px;
}

.contentSedes {
  display: flex;
  flex-direction: column;
  background: white;
  border: 5px solid rgb(235, 235, 235);
  padding: 80px;
  word-spacing: normal;
  transition: all 0.5s ease;
}

.contentSedes:hover {
  cursor: initial;
  background: rgb(230, 230, 230);
}
/* Contacto */

fieldset {
  position: relative;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  border-style: double;
  border-color: rgb(0, 96, 141);
}
.contentContact {
  background: white;
  padding: 0 1.5em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
}
.contact-formulario {
  padding: 60px;
  background: white;
  border: 5px solid rgb(235, 235, 235);
}

.form {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid black;
  outline: 0;
}
.contact-info {
  padding: 60px;
  background: white;
  border: 5px solid rgb(235, 235, 235);
}
/* Footer*/

footer {
  background-color: rgb(0, 96, 141);
  color: white;
  text-align: center;
  position: inherit;
  width: 100%;
  height: 2.5rem;
}
