/*Familia del Paciente Oncologico*/

.contentPaciente {
  display: flex;
  flex-direction: column;
  color: $color-primario;
  background: $color-secundario;
  border: 5px solid $color-bordes;
  border-radius: 1 * $root-size;
  padding: 80px;
  word-spacing: normal;
  transition: all 0.5s ease;

  &__Subtitles {
    font-size: 1.5rem;
    text-align: left;
    font-style: normal;
  }

  &__Text {
    text-align: justify;
    font-size: 1rem;
    padding: 5px;
    word-spacing: 0.2rem;
    letter-spacing: normal;
  }

  &__List {
    text-align: justify;
    font-size: 1.2rem;
    padding: 5px;
    list-style-type: decimal;
    font-size: 15px;
  }
}
.contentPaciente:hover {
  cursor: initial;
  background: $color-hover;
  color: black;
}
/*Fin de Familia del Paciente Oncologico*/
