/*servicios*/

.servicesContent {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  background: $color-secundario;
  border: 5px solid $color-bordes;
  border-radius: 1 * $root-size;
  padding: 80px;
  transition: all 0.5s ease;
  color: $color-primario;

  &__Text {
    text-align: justify;
    font-size: 1rem;
    padding: 5px;
    word-spacing: 0.2rem;
    letter-spacing: normal;
  }
  &__List {
    list-style-type: none;
    text-indent: 2rem;
    padding-bottom: 5px;
    font-size: 1rem;
    text-align: justify;
  }
}
.servicesContent:hover {
  cursor: initial;
  background: $color-hover;
  color: $color-texto-hover;
}

.ServicesSection {
  border: 5px solid $color-bordes;
  padding: 50px;
  background-color: lightgray;
  color: $color-primario;
  border-radius: 1.5 * $root-size;
  transition: all 0.5s ease-in;
}

.ServicesSection:hover {
  cursor: pointer;
  color: lightgray;
  background-color: $color-primario;
  transform: scale(1);
  font-weight: bold;
}
.button {
  background-color: rgb(2, 125, 182);
  border: none;
  color: $color-secundario;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.button:hover {
  cursor: pointer;
  color: $color-primario;
  background: lightgray;
}
/*Fin de Servicios*/
