/*Tratamientos*/

.contentTreatment {
  display: flex;
  flex-direction: column;
  background: $color-secundario;
  border: 5px solid $color-bordes;
  border-radius: 1 * $root-size;
  padding: 80px;
  word-spacing: normal;
  gap: 10px;
  transition: all 0.5s ease;
  color: $color-primario;

  &__Subtitles {
    font-size: 1.5rem;
    text-align: left;
    font-style: normal;
  }

  &__Text {
    text-align: justify;
    font-size: 1rem;
    padding: 5px;
    word-spacing: 0.2rem;
    letter-spacing: normal;
  }
}
.contentTreatment:hover {
  cursor: initial;
  background: $color-hover;
  color: $color-texto-hover;
}

/*Fin de Tratamientos*/
